# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\if11_ShopSystem\ShopSystem-if_12\Shop System FX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
